
SSR-CS/shadowsocks-csharp/View/ConfigForm.cs
SSR-CS/shadowsocks-csharp/View/ConfigForm.Designer.cs
SSR-CS/shadowsocks-csharp/View/ConfigForm.Designer.cs
shadowsocks-csharp/bin/2.0/Release/transfer_log.json
.vs/shadowsocks-csharp/v15/.suo
shadowsocks-csharp/bin/2.0/Release/gui-config.json
shadowsocks-csharp/bin/2.0/Release/ShadowsocksR.exe
shadowsocks-csharp/bin/2.0/Release/ShadowsocksR.exe.config
shadowsocks-csharp/bin/2.0/Release/ShadowsocksR.pdb
test/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
test/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
test/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
test/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
test/obj/Release/CoreCompileInputs.cache
shadowsocks-csharp/bin/2.0/Release/temp/libsscrypto.dll
shadowsocks-csharp/bin/2.0/Release/temp/mgwz.dll
shadowsocks-csharp/bin/2.0/Release/temp/privoxy.conf
shadowsocks-csharp/bin/2.0/Release/temp/shadowsocks_2017-08.log
shadowsocks-csharp/bin/2.0/Release/temp/ShadowsocksR.exe
shadowsocks-csharp/obj/Release/CoreCompileInputs.cache
shadowsocks-csharp/obj/Release/DesignTimeResolveAssemblyReferences.cache
shadowsocks-csharp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
shadowsocks-csharp/obj/Release/shadowsocks-csharp.csproj.FileListAbsolute.txt
shadowsocks-csharp/obj/Release/shadowsocks-csharp.csproj.GenerateResource.Cache
shadowsocks-csharp/obj/Release/shadowsocks-csharp.csprojResolveAssemblyReference.cache
shadowsocks-csharp/obj/Release/Shadowsocks.Properties.Resources.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.ConfigForm.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.InputPassword.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.LogForm.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.PortSettingsForm.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.ResetPassword.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.ServerLogForm.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.SettingsForm.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.ShowTextForm.resources
shadowsocks-csharp/obj/Release/Shadowsocks.View.SubscribeForm.resources
shadowsocks-csharp/obj/Release/ShadowsocksR.exe
shadowsocks-csharp/obj/Release/ShadowsocksR.pdb
shadowsocks-csharp/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
shadowsocks-csharp/bin/4.0/Release/ShadowsocksR.exe
shadowsocks-csharp/bin/4.0/Release/ShadowsocksR.exe.config
shadowsocks-csharp/bin/4.0/Release/ShadowsocksR.pdb
shadowsocks-csharp/bin/Release/ShadowsocksR.exe
shadowsocks-csharp/bin/Release/ShadowsocksR.exe.config
shadowsocks-csharp/bin/Release/ShadowsocksR.pdb
shadowsocks-csharp/obj/Release/shadowsocks-csharp-console.csproj.FileListAbsolute.txt
shadowsocks-csharp/obj/Release/shadowsocks-csharp-console.csproj.GenerateResource.Cache
shadowsocks-csharp/obj/Release/shadowsocks-csharp4.0.csproj.FileListAbsolute.txt
shadowsocks-csharp/obj/Release/shadowsocks-csharp4.0.csproj.GenerateResource.Cache
shadowsocks-csharp/obj/Release/shadowsocks-csharp4.0.csprojResolveAssemblyReference.cache
test/obj/Release/test.dll
test/obj/Release/test.csprojResolveAssemblyReference.cache
test/obj/Release/test.csproj.FileListAbsolute.txt
test/bin/Release/zh-Hans/Microsoft.VisualStudio.QualityTools.UnitTestFramework.resources.dll
test/bin/Release/test.dll
test/bin/Release/ShadowsocksR.pdb
test/bin/Release/ShadowsocksR.exe.config
test/bin/Release/ShadowsocksR.exe
test/bin/Release/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
